* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: "Noto Sans", sans-serif;
}

:root {
  /* Colors */

  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --gradiant-light: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --gradiant-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

  /* Font */

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
}

body {
  min-height: 100vh;
  background: var(--gradiant-light);
  background-repeat: no-repeat;
  background-size: cover;
}

*:focus{}

/* Components */

/* Header Component */

.header-container {
  margin: 50px auto;
  width: 85%;
  padding: 20px;
  border-radius: 12px;
  background: var(--neutral-0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px 2px var(--neutral-200);
}

.light-mode-btn {
  cursor: pointer;
  padding: 12px;
  border-radius: 12px;
  box-sizing: border-box;
  border: 2px solid var(--neutral-0);
}

.light-mode-btn:focus {
  border: 2px solid var(--neutral-0);
  outline: 3px solid var(--red-500);
  box-sizing: border-box;
}

.light-mode-btn:hover {
  cursor: pointer;
  background: var(--neutral-300);
}

/* Extension Component */

.extension-container {
  background-color: var(--neutral-0);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.extension-info {
  display: flex;
  gap: 20px;
}

.extension-btns {
  display: flex;
  justify-content: space-between;
}

.toggle-btn {
  width: 50px;
  height: 28px;
  border: none;
  background-color: var(--neutral-300);
  border-radius: 100px;
  position: relative;
}

.toggle-btn:hover {
  cursor: pointer;
}

.slide {
  width: 20px;
  height: 20px;
  background: var(--neutral-0);
  border-radius: 100px;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggled {
  background: var(--red-700);
}

.toggled:hover {
  background: var(--red-500);
}

.toggled:focus,
.toggle-btn:focus, .remove-btn:focus{
  border: 2px solid var(--neutral-0);
  outline: 3px solid var(--red-500);
}

.toggled .slide {
  position: absolute;
  left: calc(50px - 26px);
}

.remove-btn {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 100px;
  background: var(--neutral-0);
  border: 1px solid var(--neutral-300);
  color: var(--neutral-900);
  font-weight: var(--font-weight-500);
}

.remove-btn:hover{
  background: var(--red-700);
  color: var(--neutral-0)
}
